In [1]:
from volleyball.conf import csv_explorer
import pandas

In [2]:
csv_file = csv_explorer('world_grand_prix-final.csv', extra_paths=['consolidated'])
data = pandas.read_csv(csv_file)

In [3]:
df = pandas.DataFrame(data=data, columns=['name','date_of_birth','height','weight','spike','block'])

In [4]:
df[df.duplicated() == True]

,name,date_of_birth,height,weight,spike,block
208,Paula Pequeno,22/01/1982,184,74,302,285
209,Adenizia Da Silva,18/12/1986,185,63,312,290
210,Thaisa Daher de Menezes,15/05/1987,196,79,316,301
211,Jaqueline Pereira De Carvalho Endres,31/12/1983,186,70,302,286
213,Welissa Gonzaga,9/09/1982,179,76,300,287
214,Fabiana Oliveira,7/03/1980,169,59,276,266
215,Ana Tiemi Takagui,26/10/1987,187,74,295,284
216,Camila Brait,28/10/1988,170,58,271,256

In [5]:
clean_df = df.drop_duplicates()

In [6]:
clean_df.count()

name             859
date_of_birth    859
height           859
weight           859
spike            859
block            859
dtype: int64

In [7]:
# clean_df[clean_df.isna() == True]

In [8]:
average_block = clean_df[clean_df['block']!=0].mean()
def replace_zero_blocks(value):
    if value == 0:
        return average_block
    return value

clean_df['block'].apply(replace_zero_blocks)

average_spike = clean_df[clean_df['spike']!=0].mean()
def replace_zero_spikes(value):
    if value == 0:
        return average_spike
    return value

clean_df['spike'].apply(replace_zero_spikes)

0      314
1      295
2      290
3      302
4      315
      ...
862    300
863    310
864    306
865    270
866    302
Name: spike, Length: 859, dtype: object

In [9]:
clean_df[clean_df['block'] == 0]

                  name date_of_birth  height  weight  spike  block
114  Monique Wismeijer    21/10/1978     176      77      0      0
130     Sharon Zuidema    13/08/1990     185      72      0      0
131    Leonarda Sgroot    26/02/1986     180      64      0      0
565        Dorota Wilk    28/04/1988     178      66    290      0

In [10]:
clean_df.to_csv('world_grand_prix-final.csv')